@import "mixins.less";
@import "reset.less";
@import "variables.less";
@import "patterns.less";
@import "type.less";

@cellWidth: 30px;
@cellHeight: 30px;

#gameapp{
    margin-top: 15px;
    width: 280px;
    .center-block;


    header h1{
        text-align: center;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    table{
        background: @grayLight;

        th, td {
            border:1px solid @white;
        }

        tr{
            height: @cellHeight;

            th {
                width: @cellWidth;

                font-size: 26px;
                font-weight: bold;

                #cell-content {
                    .size(@cellHeight - 2, @cellWidth - 2);
                    margin: 1px;

                    &.hidden {
                        .border-radius(2px);
                        background: @blue;
                        /*margin-right: 2px;*/

                        &:hover{ background: @blueDark;}

                    }

                    &.info::before {
                        content: 'min - '
//                        background: @blue;
                    }

                    &.mineVisible{
                        background: lighten(@red, 35%);
                    }

                    &.mineBlown{
                        background: @red
                    }

                    &.flagued{
                        background: @grayDark;
                    }
                }
            }
        }
    }
}

.ui-dialog {
    background-color:#99ccff;

    .ui-dialog-titlebar {
        background-color:#003399;
    }

    .ui-dialog-titlebar-close {
        background: @gray;
    }

    .ui-dialog-titlebar-close-hover {
        background: @black;
    }

    .ui-resizable-n {
        background:url(../img/dialog/my-n.gif) repeat center top;
    }

    .ui-resizable-s {
        background:url(../img/dialog/my-s.gif) repeat center top;
    }

    .ui-resizable-e {
        background:url(../img/dialog/my-e.gif) repeat right center;
    }

    .ui-resizable-w {
        background:url(../img/dialog/my-w.gif) repeat left center;
    }

    .ui-resizable-ne {
        background:url(../img/dialog/my-ne.gif) repeat;
    }

    .ui-resizable-se {
        background:url(../img/dialog/my-se.gif) repeat;
    }
    .ui-resizable-sw {
        background:url(../img/dialog/my-sw.gif) repeat;
    }

    .ui-resizable-nw {
        background:url(../img/dialog/my-nw.gif) repeat;
    }
}