@import "mixins.less";
@import "reset.less";
@import "variables.less";
@import "patterns.less";
@import "type.less";
@import "forms.less";

@cellWidth: 50px;
@cellHeight: 50px;

@redLight: lighten(@red, 35%);

#gameapp{
    margin-top: 15px;
    width: @cellWidth*9;
    .center-block;

    header h1{
        text-align: center;
        font-family: Segoe UI, Tahoma, Geneva, Verdana;
        text-shadow: 0.10em 0.09em 5px #BBB;
    }

    div.well #bar-container {
        position:relative;
        right: 0px;
        left: 0px;

        div {
            display: inline;
        }

        #time-left-icon{
                width: 32px;
                height: 32px;
                position: absolute;
                left: 0;
                top: -3px;
                opacity: 0.5;
            }
        #time-left{
            position: absolute;
            left: 32px;
            top: 0;
        }
        #mines-left-icon{
            width: 32px;
            height: 32px;
            margin-right: 0;
            position: absolute;
            right: 0px;
            top: -1px;
            opacity: 0.5;
        }

        #mines-left{
            margin-right: 0;
            position: absolute;
            right: 34px;
            top: 1px;
        }
        #reset-button{
            width: 56px;
            .center-block;
        }
        #time-left, #mines-left {
            width: 25px;
            text-align: center;
        }
    }

    &.playing #reset-button{
        color: @white;
        .gradientBar(@blue, @blueDark);
    }

    &.won #reset-button{
        .gradientBar(#62c462, #57a957);
    }

    &.lost #reset-button{
        .gradientBar(#ee5f5b, #c43c35);
    }

    table{
        background: @grayLight;

        th, td {
            border:1px solid @white;
        }

        tr{
            height: @cellHeight;

            th {
                width: @cellWidth;

                font-size: @cellHeight - 4;
                font-weight: bold;

                #cell-content {
                    .size(@cellHeight - 2, @cellWidth - 2);

                    margin: 1px;

                    &.hidden {
                        .border-radius(2px);
                        background: @blue;
                        /*margin-right: 2px;*/

                        &:hover{ background: @blueDark;}
                    }

                    &.info {
                        &.num1{
                            color: @blue;
                        }
                        &.num2{
                            color: @green;
                        }
                        &.num3{
                            color: @red;
                        }
                        &.num4{
                            color: @blueDark;
                        }
                        &.num5{
                            color: @orange;
                        }
                        &.num6{
                            color: @purple;
                        }
                    }

                    &.mineVisible{
                         background: url("../pics/seemine.png");
                         background-color: @redLight;
                         background-size: @cellWidth @cellHeight;
                    }

                    &.mineBlown{
                        background: url("../pics/hitmine.png");
                        background-color: @red;
                        background-size: @cellWidth @cellHeight;
                    }

                    &.flagued{
                        background: url("../pics/guessmine.png");
                        background-color: @grayDark;
                        background-size: @cellWidth @cellHeight;
                    }
                }
            }
        }
    }
}